<div class="space-y-4">

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="">
      <p class=""><%= App::HealthUnit.model_name.human%></p>
      <p class="detail-input"><%= app_queue.health_unit.name  %></p>
    </div>

    <div class="">
      <p class=""><%= App::Queue.human_attribute_name('category')%></p>
      <p class="detail-input"><%= t("constants.app/queue.#{app_queue.category}") %></p>
    </div>
  </div>

  <% if app_queue.users.any? %>
    <div class="space-y-4">
      <p class="font-bold text-2xl"> <%= App::User.model_name.human %> </p>
      <%= render partial: 'app/users/users', locals: { app_users: app_queue.users} %>
    </div>
  <% end %>

</div>
