<%= form_with(model: app_health_unit, class: "contents") do |form| %>
  <% if app_health_unit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(app_health_unit.errors.count, "error") %> prohibited this app_health_unit from being saved:</h2>

      <ul>
        <% app_health_unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :category %>
      <%= form.collection_select :category, @categories, :to_s, :to_s, {}, {class: "form-input"} %>
    </div>

  </div>

  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>

<% end %>
