<%= link_to health_unit do  %>
  <div id="<%= dom_id health_unit %>" class="card ">
    <p class="">
      <strong class="block font-medium mb-1"> <%= health_unit.name %></strong>
      <%= health_unit.category %>
    </p>

    <p class="">
      <%= health_unit.address %> - <%= health_unit.city %>
    </p>

    <p class="">
      <strong class="block font-medium mb-1"><%= health_unit.phone %></strong>
    </p>

  </div>

<%end%>
