<%= form_with(model: app_health_insurance, class: "contents") do |form| %>
  <% if app_health_insurance.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(app_health_insurance.errors.count, "error") %> prohibited this app_health_insurance from being saved:</h2>

      <ul>
        <% app_health_insurance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-4">
    <div class="">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-input" %>
    </div>
  </div>
  <div class="mt-4 inline-flex w-full justify-end">
    <%= form.submit class: "btn-primary" %>
  </div>

<% end %>
